*/.svn/*
**/node_modules/**
**/db_buffer/**
**/build/**
**/file_pool/**
eeb-prj/local_data/**
masquerade-html-lib/www/**
program-crypto-lib/test/js/*
logs/**

*.class
*.zip
*.7z
*.rar
*.log
*.exe
*.o
*.gch
*.obj
*.sbr
*.tlog
*.pdb
*.exp
*.node
*.sln